{% extends "layout3.html" %} {% import '_macros.html' as macros %} {%
block content %}

<main>
	<script src="../static/main.js" type="module"></script>
	<form method="POST" novalidate id="form">
		<div class="hidden">
			{{macros.camposNuevos(form.id, class="hidden")}}
		</div>
		<input type="hidden" name="csrf_token" value="{{csrf_token()}}" />
		<section
			class="bg-blue-100 p-4 rounded-lg border-2 border-gray-300"
		>
			<div class="flex flex-row justify-between items-center">
				{{macros.camposNuevos(form.Nombre, class="input input-bordered
				w-full max-w-xs")}} {{macros.camposNuevos(form.Direccion,
				class="input w-full max-w-xs input input-bordered")}}
				{{macros.camposNuevos(form.Telefono, class="input w-full
				max-w-xs input input-bordered")}} {{
				macros.camposNuevos(form.fecha, class="input w-full max-w-xs
				input-bordered") }}
			</div>

			<div class="flex flex-row justify-between items-center mt-4">
				<div class="border-2 border-gray-300 p-4 rounded-lg h-56">
					<label> Tamaño Pizza </label>
					<div>{{macros.camposNuevos(form.Tamanio)}}</div>
				</div>

				<div class="border-2 border-gray-300 p-4 rounded-lg">
					<label> Ingredientes </label>
					<div>
						{{macros.camposNuevos(form.Jamon,class="toggle
						toggle-info")}}
					</div>
					<div>
						{{macros.camposNuevos(form.Pina,class="toggle
						toggle-info")}}
					</div>
					<div>
						{{macros.camposNuevos(form.Champinones,class="toggle
						toggle-info")}}
					</div>
				</div>

				<div>
					<div>
						{{macros.camposNuevos(form.NumPizzas, class="input
						input-bordered")}}
					</div>

					<div class="flex flex-row justify-center items-center mt-4">
						<button class="btn btn-primary">Agregar</button>
					</div>
				</div>
			</div>
		</section>

		<div
			class="flex flex-row justify-between items-center mt-4 bg-blue-100 p-4 rounded-lg border-2 border-gray-300"
		>
			<div>
				<div class="overflow-x-auto max-h-40 overflow-auto">
					<table class="table table-zebra">
						<thead>
							<th></th>
							<th>Tamaño</th>
							<th>Ingredientes</th>
							<th>Cantidad</th>
							<th>Subtotal</th>
						</thead>
						<tbody>
							{% for pizza in pizzas %}
							<tr>
								<td id="{{pizza.id}}">
									<!-- agregar el id de la pizza -->
									<input
										type="checkbox"
										name="pizzas[]"
										id="pizzas"
									/>
								</td>
								<td>{{pizza.tamanio}}</td>
								<td>
									{% if pizza.jamon %} Jamon {% endif %} {% if
									pizza.pina %} Pina {% endif %} {% if
									pizza.champinones %} Champinones {% endif %}
								</td>
								<td>{{pizza.numPizzas}}</td>
								<td>{{pizza.subtotal}}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				<input type="hidden" name="terminar" />
				<div class="flex flex-row justify-between items-center mt-4">
					<button
						id="quitar"
						type="button"
						class="btn btn-accent mt-4"
					>
						Quitar
					</button>

					<button
						type="button"
						id="terminar"
						class="btn btn-success mt-4 text-"
					>
						Terminar
					</button>
				</div>
			</div>

			<div class="flex flex-col justify-between items-center mt-4">
				<div
					class="overflow-x-auto max-h-40 overflow-auto border-2 border-gray-300 p-4 rounded-lg w-[500px]"
				>
					<span id="label_ventas">Ventas del dia</span>

					<label>
						Selecciona el dia o mes
						<input
							type="list"
							name="diaMes"
							list="diaMes"
							id="diaMest"
						/>
					</label>

					<datalist id="diaMes">
						<option value="Lunes">Lunes</option>
						<option value="Martes">Martes</option>
						<option value="Miercoles">Miercoles</option>
						<option value="Jueves">Jueves</option>
						<option value="Viernes">Viernes</option>
						<option value="Sabado">Sabado</option>
						<option value="Domingo">Domingo</option>
						<option value="Enero">Enero</option>
						<option value="Febrero">Febrero</option>
						<option value="Marzo">Marzo</option>
						<option value="Abril">Abril</option>
						<option value="Mayo">Mayo</option>
						<option value="Junio">Junio</option>
						<option value="Julio">Julio</option>
						<option value="Agosto">Agosto</option>
						<option value="Septiembre">Septiembre</option>
						<option value="Octubre">Octubre</option>
						<option value="Noviembre">Noviembre</option>
						<option value="Diciembre">Diciembre</option>
					</datalist>

					<div id="ventasContainer">
						{% for v in ventas %}
						<p>{{v.nombreCliente}} total {{v.total}}</p>
						{% endfor %}

						<p>Total: {{total_ventas}}</p>
					</div>
				</div>

				<button id="ventas" type="button" class="btn btn-info mt-4">
					Buscar
				</button>
			</div>
		</div>
	</form>
</main>

{% endblock %}
